<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<body>
<script>
    window.onload = function() {
     testAPI()
    };
 function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api(
      '/me/photos',
      'GET',
      {"type":"uploaded"},
      function(response) {
      }
    );
  }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '312761532425410',
        cookie     : true,  // enable cookies to allow the server to access 
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.5' // use graph api version 2.5
      });

  
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));





</script>
<p>hello world!</p>
</body>
</html>